<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>UnityTest method</Title>
      <Shortcut>utest</Shortcut>
      <Description>Code snippet for UnityTest method</Description>
      <Author>John Miller</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp" Kind="method decl">
        <![CDATA[// A UnityTest behaves like a coroutine in Play Mode. In Edit Mode you can use
// `yield return null;` to skip a frame.
[UnityTest]
public IEnumerator $name$()
{
  // Use the Assert class to test conditions.
  // Use yield to skip a frame.
  yield return null;
}]]>
      </Code>
      <Imports>
        <Import>
          <Namespace>UnityEngine.TestTools</Namespace>
        </Import>
        <Import>
          <Namespace>System.Collections</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Method name</ToolTip>
          <Default>NewTestScriptWithEnumeratorPasses</Default>
        </Literal>
      </Declarations>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
